<h1>Edit <%= @user.username %></h1>

<!-- email confirm needed! -->

<%= form_tag "/users/#{@user.id}", :method => "patch" do %>
  <div>
    <label>Email</label>
    <input  type="text" name="email" value= "<%= @user.email %>">
  </div>
  <div>
    <label>Birthdate</label>
    <input  type="date" name="birthdate" value= "<%= @user.birthdate%>">
  </div>
  <div>
    <label>Sex</label>
    <%if @user.sex == "male" %>
      <input type="radio" name="sex" value="male" checked> Male
      <input type="radio" name="sex" value="female"> Female
    <% elsif @user.sex == "female" %>
      <input type="radio" name="sex" value="male"> Male
      <input type="radio" name="sex" value="female" checked> Female
    <% else %>
      <input type="radio" name="sex" value="male"> Male
      <input type="radio" name="sex" value="female"> Female
    <% end %>
  </div>
  <div>
    <input type="submit" value= "Update">
  </div>
<% end %>  

<div>
  <%= link_to "CLICK HERE TO UPDATE YOU PASSWORD", "/users/#{@user.id}/password" %>
</div>
<div>
  <%= link_to "Click here to delete user", "/users/#{@user.id}", :method => "delete" %>
</div>

