<h1>Edit <%= @user.username %></h1>

 <%= form_tag "/users/#{@user.id}", :method => "patch" do %>
 <div>
  <label>Email</label>
  <input  type="text" name="email" value= "<%= @user.email %>">
</div>
<div>
  <label>Birthdate</label>
  <input  type="date" name="birthdate" value= "<%= @user.birthdate%>">
</div>
<div>
  <label>Sex</label>
  <input  type="text" name="sex" value= "<%= @user.sex %>">
  <input type="radio" name="sex" value="male" > Male
  <input type="radio" name="sex" value="female"> Female
</div>
<div>
  <label>Password</label>
  <input  type="password" name="password" value= "<%= @user.password %>"> 
</div>
<div>
  <input type="submit" value= "Update User">
</div>
<% end %>

