
<h2><%= @user.username %></h2>


<!-- how do you tether certain messages to certain users? -->
<p>
<a class="btn btn-success pull-right" href="/users/">Home</a>
</p>

<p>
  <b>Sex:</b> <%= @user.sex %>
</p>

<p>
  <b>Birthdate:</b> <%= @user.birthdate %>
</p>

<p>
  <span><b>User Email:</b> <%= @user.email %> </span>
</p>

<h3> <%= @user.username %> Blogs</h3>

<ul>
    <% @user.blogs.each do |blog| %>
      <li>
        <%= link_to blog.name, "/blogs/#{blog.id}" %>
        <%= link_to "(delete)", "/blogs/#{blog.id}", :method => "delete" %>
      </li>
    <% end %>
  </ul>

  <h3> Blogs Followed </h3>
    <ul>
      <% Follow.where(:user_id => session[:user_id]).each  do |follow| %>
        <li>
          <%= link_to follow.blog.name, "/blogs/#{follow.blog_id}" %>
          <%= link_to "(unfollow)", "/follows/#{follow.id}", :method => 'delete' %>
        </li>
        <% end %>
    </ul>

<!-- <p>
	<small>
		<a class="btn btn-success pull-right" href="/blogs/new"> Create a new blog now!</a>
	</small>
</p> -->

<p>

<p>
<% if session[:user_id] == @user.id %>
  <%= link_to "EDIT INFO", "/users/#{@user.id}/edit" %>
<% end %>
</p>
