<h1>Edit <%= @post.title %></h1>

<%= form_tag "/posts/#{@post.id}", :method => "patch" do %>
  <div>
	  <label>Title</label>
	  <input type="text" name="title" value = "<%= @post.title %>">
  </div>
  <div>
    <label>Text</label>
    <textarea cols="25" id="text" name="text" rows="10" ><%= @post.text %></textarea>
  </div>
  <div>
    <label>Blog</label>
    <select name="blog_id">
    <% @blogs.each do |b| %>
      <option value="<%= b.id %>"><%= b.name %></option>
    <% end %> 
    </select>
  </div>
  <div>
    <input type="submit" value= "Update Post">
  </div>
<% end %>