<h1><%= @post.title%> </h1>

<p><%= @post.text %></p>

<p><%= link_to"Back to #{@post.blog.name}", "/blogs/#{@post.blog.id}" %>


<h2> Other posts from this blog </h2>

	<% Post.where(blog_id: @post.blog_id).each do |p| %>
		<% if p.id != @post.id %>
		  <p>
	    	<%=link_to p.title, "/posts/#{p.id}" %>
	      </p>
	    <% end %>
    <% end %> 
<% if session[:user_id] != nil %>
	<%= link_to "Edit post", "/posts/#{@post.id}/edit" %>
<% end %>

<% if session[:user_id] != nil %>

<h3>Leave a comment</h3>
<%= form_tag "/comments/#{@post.id}", :method => 'post' do %>
  <div>
    <label>Comment Title:</label>
  </div>
  	<input type="text" name="title">
  <div>
  </div>
  <div>
  	<label>Leave a Comment</label>
  </div>
  <div>
  	<%= text_area_tag 'text', nil, rows:10, cols: 20 %>
  </div>
  <div>
  	<input type="submit" value="submit Comment!">
<% end %>
  </div>

<% end %>




<h3>Past comments</h3>
<ul>
    <% Comment.where(post_id: @post.id).each do |comment| %>
      <li>
       <p><b><i> <%= comment.title  %> </i></b></p>
       <p> <%= comment.text %> </p>
       <p> <%= comment.user.username %> </p>
       <% if comment.user.id == session[:user_id] %>
        <%= link_to "(delete)", "/comments/#{comment.id}", :method => "delete" %>
        <%= link_to "(edit)", "/comments/#{comment.id}/edit" %>
        <% end %>
      </li>
</ul> 
    <% end %>
  
