<!DOCTYPE html>
<html>
<head>
  <title>Robert Alef FinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>



<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav navbar-right">

	<% if session[:user_id] && session[:user_id] != nil %>
		<li> Hello, <%=User.find(session[:user_id]).username %></li>
	<% end %>
	
	<% if session[:user_id] == nil %>
	<div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/users/">Home</a></li>
          <li><a href="/users/new">Sign Up!</a></li>
          <li><a href="/sessions/new">Sign In</a></li>
        </ul>
        <h3 class="muted">Rob Alef Final Twatter</h3>
      </div>
	<!-- <li><a href="/users/new">Sign Up!</a></li>
	<li><a href="/sessions/new">Sign In!</a></li> -->
	<% end %>

	<% if session[:user_id] != nil %>
	<div class="masthead">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/users/">Home</a></li>
          <li><a href="/account">My Account</a></li>
          <li><a href="/logout">Sign Out</a></li>
        </ul>
        <h3 class="muted">Rob Alef Final Twatter</h3>
      </div>
	<!-- <li><a href="/account">My Account</a></li>
	<li><a href="/logout">Sign Out</a></li> -->
	<% end %>
</ul>
</div>




<%= yield %>
<% if notice.present? %>
	<%= notice %>
<% end %>

</body>
</html>



