<!DOCTYPE html>
<html>
<head>
  <title>Robert Alef FinalProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
<ul class="nav navbar-nav navbar-right">

	<% if session[:user_id] != nil %>
		<li> Hello, <%=current_user.username %></li>
		<li><a href="/account">My Account</a></li>
		<li><a href="/logout">Sign Out</a></li>
	<% end %>
	
	<% if session[:user_id] == nil %>
		<li><a href="/users/new">Sign Up!</a></li>
		<li><a href="/sessions/new">Sign In!</a></li>
	<% end %>

</ul>
</div>

<%= yield %>
<% if notice.present? %>
	<%= notice %>
<% end %>

</body>
</html>



